<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quản lý lớp học</title>
    {% load static %}
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Quản lý lớp học</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="{% static 'home/images/fevicon/fevicon.png' %}" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'home/bootstrap.min.css' %}" />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'home/responsive.css' %}" />
    <!-- colors css -->
    <link rel="stylesheet" href="{% static 'home/colors.css' %}" />
    <!-- wow animation css -->
    <link rel="stylesheet" href="{% static 'home/animate.css' %}" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>

    <header class="header header_style1">
        <div class="container">
           <div class="row">
              <div class="col-md-9 col-lg-10">
                 <div class="logo"><a href=""><img src="{% static 'home/images/logo.png' %}" alt="#" style="width:60%;height:60%;"/></a></div>
                 <div class="main_menu float-right">
                    <div class="menu">
                        <ul class="clearfix">
                            <!-- <li><a href=""></a></li>
                            <li><a href=""></a></li> -->
                            <li><a href="">Xin chào, {{ user.username }}!  </a></li>
                            <!-- <li><a href=""></a></li>
                            {% comment %} <li class="active"><a href="{% url 'SinhVien:SinhVien' %}">Danh sách sinh viên</a></li> {% endcomment %}
                            <li><a href=""></a></li>
                            <li><a href=""></a></li> -->
                        </ul>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-lg-2">
                 <div class="right_bt"><a class="bt_main" href="{% url 'home:total' %}">Trang chủ</a> </div>
              </div>
           </div>
        </div>
     </header>

    <div class="container">
        <div class="row">
            <div class="full">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="full text_align_center">
                            <div class="heading_main center_head_border heading_style_1">
                                <h1 style="text-transform: uppercase;"><strong>QUẢN LÝ LỚP HỌC HK {{term}} {{khoa.ten_khoa}}</strong></h1>   
                                <div class="col-md-3 col-lg-2">
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        {% for group in request.user.groups.all %}
            {% if group.name == 'khoa'%}
                <div class="table_price_left" style="text-align: right;"> <a href="{% url 'home:newLophoc' khoa.ma_khoa%}" style="font-weight: bold;"><i class="fas fa-plus-square" style="font-size: large;"></i> Thêm môn học</a></div>
            {% endif %}
        {% endfor %}   
        {% endif %}
<div class="container">
<table class="table table-striped">
    <thead style="background-color: #1E72BC; color: #FFFFFF;">
        <tr>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Mã lớp học</th>
            <th colspan="3"> Sĩ số </th>
        </tr>
    </thead>
    <tbody>
        {% for c in lophoc %}
        <tr>
            <td>{{c.ma_mon_hoc}}</td>
            <td>{{c.ten_mon_hoc}}</td>
            <td>{{c.ma_lop_hoc}}</td>
            <td>{% for x in siso%}
                {% if x.idlop == c.idlop %}
                    {{x.siso}}
                {% endif%}
            {% endfor%}

            </td>
            {% for group in request.user.groups.all %}
                {% if group.name == 'khoa'%}
                    <th style="text-align: right;"><a class='bt-main' href="{% url 'home:updateLophoc' c.ma_khoa c.idlop %}">Phân công </a></th>
                {% endif %}
            {% endfor %}
            <th style="text-align: right;"><a class='bt-main' href="{% url 'home:deleteLophoc' c.ma_khoa c.idlop %}" style="color: red;"><i class="fas fa-trash-alt"></i></a></th>
        </tr>
        {% endfor %}
	</tbody>
</table>	
</div>

    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- wow animation -->
    <script src="{% static 'home/js/wow.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'home/js/custom.js' %}"></script>

<footer>
    <div class="footer_bottom">
        <p>Dessigned and developed by <strong>Group 9 - L06</strong></p>
    </div>
</footer>
</body>

</html>