<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tra cứu thông tin</title>
    {% load static %}
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Tra cứu thông tin</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="{% static 'home/images/fevicon/fevicon.png' %}" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'home/bootstrap.min.css' %}" />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'home/responsive.css' %}" />
    <!-- colors css -->
    <link rel="stylesheet" href="{% static 'home/colors.css' %}" />
    <!-- wow animation css -->
    <link rel="stylesheet" href="{% static 'home/animate.css' %}" />
  
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>

    <header class="header header_style1">
        <div class="container">
           <div class="row">
              <div class="col-md-9 col-lg-10">
                 <div class="logo"><a href=""><img src="{% static 'home/images/logo.png' %}" alt="#" style="width:60%;height:60%;"/></a></div>
                 <div class="main_menu float-right">
                    <div class="menu">
                        <ul class="clearfix">
                            <li><a href="">Xin chào, {{ user.username }}!</a></li>
                        </ul>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-lg-2">
                 <div class="right_bt"><a class="bt_main" href="{% url 'home:total' %}">Trang chủ</a> </div>
              </div>
           </div>
        </div>
     </header>

    <div class="container">
        <div class="row">
            <div class="full">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="full text_align_center">
                            <div class="heading_main center_head_border heading_style_1">
                                <h1 style="text-transform: uppercase; font-weight: bold;">TRA CỨU THÔNG TIN GIẢNG DẠY</h1>
                                <P>{{gv.Ho}} {{gv.Ten}}</P>
                                <div class="col-md-3 col-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="container">
<table class="table table-bordered">
    <thead style="background-color: #1E72BC; color: #FFFFFF;">
        <tr>
            <th style="text-align: center;">DS môn học phụ trách:</th>
            <th style="text-align: center;">DS lớp học phụ trách:</th>
            <th style="text-align: center;">DS sinh viên của lớp:</th>
        <tr>
    </thead>
    <tbody>
        <th>
            <form action = "{% url 'home:tracuu_monhoc_giangvien'%}"  method="POST">
                {%csrf_token%}
                <!-- <div>Danh sách môn học phụ trách:  
                <input name='msgv' value='{{gv.MSNV}}' readonly>
                <p>Nhập học kỳ muốn xem:</p>
                <input type="text" name='hk'></div>
                </div> 
                <input class='bt-main' type="submit" value='Tra cứu'> -->
                <div class="form-group">
                    <a style="text-align: center;">MSGV: </a>
                    <input name='msgv' value="{{gv.MSNV}}" readonly style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <div>
                    <a>Học kỳ:</a>
                    <input type="text" name='hk' style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <br>
                <input class='btn btn-primary' type="submit" value='Tra cứu'> 
            </form>
        </th>
        <th>
            <form action = "{% url 'home:tracuu_lophoc_giangvien'%}"  method="POST">
                {%csrf_token%}
                <!-- <div>Danh sách lớp học phụ trách:  
                <input name='msgv' value='{{gv.MSNV}}' readonly>
                <p>Nhập học kỳ muốn xem:</p>
                <input type="text" name='hk'></div> 
                <input class='bt-main' type="submit" value='Tra cứu'> -->
                <div class="form-group">
                    <a style="text-align: center;">MSGV: </a>
                    <input name='msgv' value="{{gv.MSNV}}" readonly style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <div>
                    <a>Học kỳ:</a>
                    <input type="text" name='hk' style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <br>
                <input class='btn btn-primary' type="submit" value='Tra cứu' > 

            </form>
        </th>
        <th>
            <form class="was-validated" action = "{% url 'home:tracuu_sinhvien_lop'%}"  method="POST">
                {%csrf_token%}
                <!-- <div>Danh sách Sinh viên của lớp:  
                <input name='magv' value='{{gv.MSNV}}' readonly>
                <p>Chọn lớp muốn xem:</p>
                <div> <select name='malop'>
                    {% for x in dslop %}
                        <option value="{{x.idlop}}">{{x.ma_lop_hoc }}-{{x.hoc_ky}}-{{x.ten_mon_hoc}}</option>
                    {% endfor%}
                </select></div> 
                <p>Nhập học kỳ muốn xem:</p>
                <input type="text" name='hk'>
                </div>  -->
                <div class="form-group">
                    <a style="text-align: center;">MSGV: </a>
                    <input name='msgv' value="{{gv.MSNV}}" readonly style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <div class="form-group" style="align-items: center;">
                    <a>Chọn lớp:</a>
                    <select name='malop' class="custom-select" required style="width: auto; height: 40px">
                    <option value="" style="font-family: ROBOTO; font-weight: bold;">Lớp:</option>
                    {% for x in dslop%}  
                        <option value="{{x.idlop}}">{{x.ma_lop_hoc }} - {{x.hoc_ky}} - {{x.ten_mon_hoc}}</option>
                    {% endfor%}
                    </select>
                    <div class="invalid-feedback">Vui lòng chọn lớp</div>
                </div>
                <div>
                    <a>Học kỳ:</a>
                    <input type="text" name='hk' style="align-items: center; width: 100px; height: 35px; text-align: center;">
                    <input class='btn btn-primary' type="submit" value='Tra cứu' style="float: right;">
                </div>

                
            </form>
        </th>
	</tbody>
</table>	
</div>

    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- wow animation -->
    <script src="{% static 'home/js/wow.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'home/js/custom.js' %}"></script>

<footer>
    <div class="footer_bottom">
        <p>Dessigned and developed by <strong>Group 9 - L06</strong></p>
    </div>
</footer>
</body>

</html>