<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tra cứu thông tin</title>
    {% load static %}
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Tra cứu thông tin</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="{% static 'home/images/fevicon/fevicon.png' %}" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'home/bootstrap.min.css' %}" />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'home/responsive.css' %}" />
    <!-- colors css -->
    <link rel="stylesheet" href="{% static 'home/colors.css' %}" />
    <!-- wow animation css -->
    <link rel="stylesheet" href="{% static 'home/animate.css' %}" />
  
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>

    <header class="header header_style1">
        <div class="container">
           <div class="row">
              <div class="col-md-9 col-lg-10">
                 <div class="logo"><a href=""><img src="{% static 'home/images/logo.png' %}" alt="#" style="width:60%;height:60%;"/></a></div>
                 <div class="main_menu float-right">
                    <div class="menu">
                        <ul class="clearfix">
                            <li><a href="">Xin chào, {{ user.username }}!</a></li>
                        </ul>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-lg-2">
                 <div class="right_bt"><a class="bt_main" href="{% url 'home:total' %}">Trang chủ</a> </div>
              </div>
           </div>
        </div>
     </header>

    <div class="container">
        <div class="row">
            <div class="full">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="full text_align_center">
                            <div class="heading_main center_head_border heading_style_1">
                                <h3 style="text-transform: uppercase; font-family: ROBOTO;">TRA CỨU THÔNG TIN SINH VIÊN <strong>{{sv.Ho}} {{sv.Ten}}</strong></h3>
                                <p>MSSV: {{ sv.MSSV }}</p>
                                <div class="col-md-3 col-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="container">
<table class="table table-bordered">
    <thead style="background-color: #1E72BC; color: #FFFFFF;">
        <tr>
            <th style="text-align: center;">DS các môn học mở:</th>
            <th style="text-align: center;">DS các lớp học mở:</th>
            <th style="text-align: center;">DS môn học đã đăng ký:</th>
            <th style="text-align: center;">DS lớp học đã đăng ký:</th>

        <tr>
    </thead>
    <tbody> 
        <th>
            <form class="was-validated" action = "{% url 'home:tracuu_monhoc_khoa'%}"  method="POST">
                {%csrf_token%}
                <!-- <div>Danh sách các môn học:  
                <p>Chọn khoa</p> 
                <select name='makhoa'>
                    {% for x in dskhoa%}
                        <option value="{{x.ma_khoa}}" >{{x.ten_khoa }}</option>
                    {% endfor%}
                </select>
                <p>Học kỳ:</p>
                <input type="text" name='hk' value="{{term}}" readonly></div>
                </div>  -->
                
                
                <div class="form-group" style="align-items: center;">
                    <select name='makhoa' class="custom-select" required style="width: auto; height: 40px">
                       <option value="" style="font-family: ROBOTO; font-weight: bold;">Chọn khoa:</option>
                       {% for x in dskhoa%}  
                            <option value="{{x.ma_khoa}}" >{{x.ten_khoa }}</option>
                       {% endfor%}
                    </select>
                    <div class="invalid-feedback">Vui lòng chọn khoa</div>
                </div>
                <div>
                    <input type="text" name='hk' value="{{term}}" readonly style="align-items: center; width: 100px; height: 35px; text-align: center;">
                    <input class='btn btn-primary' type="submit" value='Tra cứu' style="float: right;">
                </div>
            </form>
        </th>

        <th>
            <form class="was-validated" action = "{% url 'home:tracuu_lophoc_khoa'%}"  method="POST">
                {%csrf_token%}
                <!-- <div>Danh sách các lớp học:  
                <p>Chọn khoa</p> 
                <select name='khoa'>
                    {% for x in dskhoa%}
                        <option value="{{x.ma_khoa}}" >{{x.ten_khoa }}</option>
                    {% endfor%}
                </select>
                <p>Học kỳ:</p>
                <input type="text" name='hk' value="{{term}}" readonly></div> 
                <input class='bt-main' type="submit" value='Tra cứu'> -->

                <div class="form-group" style="align-items: center;">
                    <select name='khoa' class="custom-select" required style="width: auto; height: 40px">
                       <option value="" style="font-family: ROBOTO; font-weight: bold;">Chọn khoa:</option>
                       {% for x in dskhoa%}  
                            <option value="{{x.ma_khoa}}" >{{ x.ten_khoa }}</option>
                       {% endfor%}
                    </select>
                    <div class="invalid-feedback">Vui lòng chọn khoa</div>
                </div>
                <div>
                    <input type="text" name='hk' value="{{term}}" readonly style="align-items: center; width: 100px; height: 35px; text-align: center;">
                    <input class='btn btn-primary' type="submit" value='Tra cứu' style="float: right;">
                </div>
            </form>
        </th>
        <th>
            <form class="was-validated" action = "{% url 'home:tracuu_monhoc_sinhvien'%}"  method="POST">
                {%csrf_token%}
                <!-- <div>Danh sách môn học đã đăng ký: 
                <input name='mssv' value='{{sv.MSSV}}' readonly> 
                <p>Chọn học kỳ :</p>
                <input type="text" name='hk'></div> 
                <input class='bt-main' type="submit" value='Tra cứu'> -->

                <div class="form-group">
                    <a style="text-align: center;">MSSV: </a>
                    <input name='mssv' value="{{sv.MSSV}}" readonly style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <div>
                    <a>Học kỳ:</a>
                    <input type="text" name='hk' style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <br>
                <input class='btn btn-primary' type="submit" value='Tra cứu' style="float: right;"> 
            </form>
        </th>
        <th>
            <form class="was-validated" action = "{% url 'home:tracuu_lophoc_sinhvien'%}"  method="POST">
                {%csrf_token%}
                <!-- <div>Danh sách lớp học đã đăng ký:  
                <input name='mssv' value='{{sv.MSSV}}' readonly>
                <p>Chọn học kỳ :</p>
                <input type="text" name='hk'></div> 
                <input class='bt-main' type="submit" value='Tra cứu'> -->

                <div class="form-group">
                    <a style="text-align: center;">MSSV: </a>
                    <input name='mssv' value="{{sv.MSSV}}" readonly style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <div>
                    <a>Học kỳ:</a>
                    <input type="text" name='hk' style="align-items: center; width: 100px; height: 35px; text-align: center;">
                </div>
                <br>
                <input class='btn btn-primary' type="submit" value='Tra cứu' style="float: right;"> 
            </form>
        </th>
	</tbody>
</table>	
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="js/wow.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

<footer>
    <div class="footer_bottom">
        <p>Dessigned and developed by <strong>Group 9 - L06</strong></p>
    </div>
</footer>
</body>

</html>